[user]
	name = a0ki-github
	email = aoki.hotaka@gmail.com
[core]
	editor = vim
	excludesfile = /Users/hotaka/.gitignore_global
[alias]
	co = checkout
  com = commit -m
  coma = commit -am
  d = diff
  ad = add -A
  s = status
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[init]
	defaultBranch = main
